
.Home {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #000;
}

.content{margin-top: 0px;}

.content h1 {
    margin-bottom: 0;
}

.sec-line {
    margin-top: 0;
}

.para-1 {
    margin-bottom: 0;
}

.para-2 {
    margin-top: 0;
}


.explore {
    color: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    padding: 15px 50px;
    background-color: #ffffff;
    
}

.touch {
    color: #fff;
    background-color: #1a72f5;
    padding: 15px 50px;
    margin-left: 10px;
    
}

.touch:hover {
    animation: glow 1s ease-in infinite;
}

.touch:hover::before {
    filter: blur(20px);
    opacity: 1;
}

.product-slider {
    display: flex;
    width: 80%;
}

.product-slide {
    display: flex;
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-items: center;
}

.product-image {
    width: 80%;
    height: 60%;
    object-fit: contain;
}

.product-name {
    margin-top: 0;
    text-align: center;
}



.prev-button {
    padding: 5px 10px;
    color: #fff;
    background-color: #1a72f5;
    margin-top: 60px;
    margin-right: 10px;
    outline: none;
}

.next-button {
    padding: 5px 10px;
    color: #fff;
    background-color: #1a72f5;
    margin-top: 60px;
}

@keyframes glow {
    0% {
        background: #1a72f5;
    }
    25% {
        background: #7db3ff;
    }
    100% {
        background: #1a72f5;
    }
}

.content h4 {
    margin-bottom: 0;
    font-weight: bolder;
}

.para-3 {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    color: #5e5c5c;
}


.explore {
    --c:  #000; /* the color*/
    
    /* box-shadow: 0 0 0 .1em inset var(--c);  */
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    
    transition: background-size .4s, background-position 0s .4s;
    
  }
  .explore:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: #fff;
  }
  
  

@media (max-width: 768px) {
    .Home {
        flex-direction: column;
        align-items: center;
        text-align: center;
       margin-top: 60%;
    }
   .touch{
    margin-top: 5px;
    padding-left: 60px;
   }
    .content {
        margin: 20px;
    }

    .product-slider {
        width: 100%;
        flex-wrap: wrap;
    }
.slider-container{
    width: 100%;
}
    .product-card {
        margin: 10px 0;
        width: 45%;
    }

    .images {
        width: 100%;
        height: auto;
    }
.product-image{
    width: 100%;
    height: 100%;
}

    .prev-button,
    .next-button {
        margin-top: 20px;
    }
}
