.image-slider {
  width: 100%;
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto;
  height: auto; /* Adjust the height to maintain the aspect ratio */
  overflow: hidden; /* Ensure that the slider content is contained within the slider */
}

.slider-container {
  display: flex;
  transition: transform 4s ease-in-out;
  width: 30vw; /* Use a percentage width to make it responsive */
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  overflow: hidden; /* Ensure that the slider content is contained within the container */
}

.slider-image {
  flex: 0 0 100%;
  margin-right: 0;
  transition: opacity 4s ease-in-out;
  visibility: hidden;
  display: none;
  width: 100%;
  height: auto; /* Adjust the height to maintain the aspect ratio */
}

.slider-image img {
  width: 100%;
  height: auto; /* Adjust the height to maintain the aspect ratio */
  object-fit: cover; /* Maintain the aspect ratio while covering the entire slider */
}

.slider-image.active {
  visibility: visible;
  display: block;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add margin for spacing */
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .slider-container {
    width: 100%; /* Adjust the maximum width for smaller screens */
  }
}
